.heading {
  display: flex;
  justify-content: center;
}
.container {
    display: flex;
    justify-content: center;
align-items: center;    padding: 10px;
}

img{
    height:100px;
    width:100px;
}
.box{
    margin: 50px;
    width: 150px;
}